<html>
  <head>
    <title>JSKEY</title>
  </head>
  <body>
     <h1>jsKey</h1>
     <ul>
       <li>key: <%= key %></li>
       <li>current plugin: <%= pluginCurrent %></li>
     </ul>

     <div>
     <% plugins.forEach((plugin)=>{ %>
       <div><%= plugin.pluginName %></div>
     <% }); %>
     </div>

     <script src="/js/vuejs/2.6.10/vue.js"></script>
  </body>
</html>